.opciones {
	display: flex;
	
	align-items: center;
	padding-bottom: 2em;
	
}

.filtros {
	margin-top: 1em;
}

.filtros .filtro {
	padding: .5em 1em;
	border: 1px solid #ccc;
	display: grid;
	grid-template-columns: 2fr 1fr 50px;
	align-items: center;
	margin-bottom: 1em;
}

.filtros .filtro .btnoptions {
	text-align: right;
}

.filtros .filtro .btnoptions button {
	max-width: 40px;
}

.combocriteria select {
  border: 1px solid #1a3369;
  /*background-color: #366db6;*/
  background-color: #0563af;
  color: white;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  width: 320px;
  font-size: 15px;
}

.listaul {
	border: 4px solid #1a3369;
	list-style-type: none;	
	margin: 0;
	padding: 0.25em;
	background-color: ghostwhite;
	min-height: 300px;
	border-radius: .5em;
}

.listaul li {
	color: black;
	padding: .25em 0 .25em 0;
}

.listaul li.activa {
	background-color: rgb(21, 144, 245);
}

.listaul li.activa:hover {
	background-color: rgb(21, 144, 245);
}

.listaul li:hover {
	background-color: grey;
	cursor: pointer;
}